/* remote_control/css/login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #D8D8DA;
}

.container {
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: calc(100% - 20px); /* убираем края формы */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #417690;
    color: #fff;
    cursor: pointer;
    margin-top: 10px; /* отступ от кнопки до сообщений об ошибках */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1e3744;
}

.error-message {
    color: red;
    margin-top: 5px;
}

input[type="text"],
input[type="password"],
textarea {
    border: none;
    border-radius: 8px;
    background-color: #D8D8DA;
    color: #000000;
}