{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remote Control</title>
        <link rel="stylesheet" href="{% static 'remote_control/css/home.css' %}">
        <script src="{% static 'remote_control/js/home.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="header-container">
                <a href="{% url 'home' %}">View site</a>
                <a href="{% url 'admin:index' %}">Admin</a>
                <form action="{% url 'admin:logout' %}?next=/remote-control/" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </header>

        <div class="container">
            <div class="device-selectors">
                <div>
                    <label for="province">Province:</label>
                    <select id="province" name="province" onchange="getDevices()">
                        <option value="">-- Choose Province --</option>
                        {% for province in province_list %}
                            <option value="{{ province }}">{{ province }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="deviceId">Device:</label>
                    <select id="deviceId" name="deviceId">
                    </select>
                </div>
                <div>
                    <label for="respondingTimeout">Responding Timeout</label>
                    <input type="number" id="respondingTimeout" name="respondingTimeout" value="5">
                </div>
                <div>
                    <label for="resultTimeout">Result Timeout</label>
                    <input type="number" id="resultTimeout" name="resultTimeout" value="60">
                </div>
            </div>
            <div class="tabs-container">
                <button id="commandButton" style="background-color: #1e3744" onclick="openForm('command')">Command Output</button>
                <button id="resultAsFileButton" onclick="openForm('resultAsFile')">Result as File</button>
                <button id="fileButton" onclick="openForm('file')">File Request</button>
                <button id="fileTransferButton" onclick="openForm('fileTransfer')">File Transfer</button>
            </div>

            <div id="commandForm" style="display: block;" class="form-container">
                <h2>Command Output Request</h2>
                <form onsubmit="submitForm(event, 'commandResult')" action="{% url 'submit_command_request' %}" method="POST">
                    {% csrf_token %}
                    <label for="command">Command:</label>
                    <textarea id="command" name="command"></textarea>
                    <button type="submit">Submit</button>
                </form>
                <pre id="commandResult" style="display: block;" class="result-container"></pre>
            </div>
            <div id="resultAsFileForm" class="form-container">
                <h2>Result as File Request</h2>
                <form onsubmit="submitForm(event, 'resultAsFileResult')" action="{% url 'submit_result_as_file_request' %}" method="POST">
                    {% csrf_token %}
                    <label for="resultAsFileCommand">Command:</label>
                    <textarea id="resultAsFileCommand" name="resultAsFileCommand"></textarea>
                    <button type="submit">Submit</button>
                </form>
                <div id="resultAsFileResult" class="result-container"></div>
            </div>
            <div id="fileForm" class="form-container">
                <h2>File Request</h2>
                <form onsubmit="submitForm(event, 'fileResult')" action="{% url 'submit_file_request' %}" method="POST">
                    {% csrf_token %}
                    <label for="filePath">File Path:</label>
                    <input type="text" id="filePath" name="filePath">
                    <button type="submit">Submit</button>
                </form>
                <div id="fileResult" class="result-container"></div>
            </div>
            <div id="fileTransferForm" class="form-container">
                <h2>File Transfer Request</h2>
                <form onsubmit="submitForm(event, 'fileTransferResult')" action="{% url 'submit_file_transfer' %}" method="POST">
                    {% csrf_token %}
                    <label for="fileTransferS3Key">S3 File:</label>
                    <select id="fileTransferS3Key" name="fileTransferS3Key">
                        <option value="">-- Choose S3 File --</option>
                        {% for file in s3_files %}
                            <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                    <label for="fileTransferDestination">Destination Path:</label>
                    <input type="text" id="fileTransferDestination" name="fileTransferDestination">
                    <button type="submit">Submit</button>
                </form>
                <pre id="fileTransferResult" class="result-container"></pre>
            </div>
        </div>
    <script>
        function getDevices() {
            var province = document.getElementById('province').value;
            var deviceSelect = document.getElementById('deviceId');
            // Clear existing options
            deviceSelect.innerHTML = '';

            // Make a request to get devices based on selected province
            // Replace 'url_to_get_devices' with the actual URL to fetch devices for a province
            fetch("{% url 'get_devices' %}?province=" + province)
                .then(response => response.json())
                .then(data => {
                    if (data.length != 0) {
                        var option = document.createElement('option');
                        option.value = "";
                        option.textContent = '-- Choose Device --';
                        deviceSelect.appendChild(option);
                    }

                    data.forEach(device => {
                        var option = document.createElement('option');
                        option.value = device.generated_id;
                        option.textContent = device.name + ' (' + device.generated_id + ')';
                        deviceSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching devices:', error));
        }
    </script>
    </body>
</html>