{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remote Control</title>
        <link rel="stylesheet" href="{% static 'remote_control/css/home.css' %}">
        <script src="{% static 'remote_control/js/remote_control.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="header-container">
                <a href="{% url 'home' %}">View site</a>
                <a href="{% url 'admin:index' %}">Admin</a>
                <form action="{% url 'remote-control-logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </header>

        <div class="container">
            <div class="tabs-container">
                <button id="commandButton" style="background-color: #1e3744" onclick="openForm('command')">Command Output</button>
                <button id="resultAsFileButton" onclick="openForm('resultAsFile')">Result as File</button>
                <button id="fileButton" onclick="openForm('file')">File Request</button>
                <button id="fileTransferButton" onclick="openForm('fileTransfer')">File Transfer</button>
            </div>

            <div id="commandForm" style="display: block;" class="form-container">
                <h2>Command Output Request</h2>
                <form onsubmit="submitForm(event, 'commandResult')" action="{% url 'submit_command_request' %}" method="POST">
                    {% csrf_token %}
                    <label for="deviceId">Device:</label>
                    <select id="deviceId" name="deviceId">
                        {% for device in device_list %}
                            <option value="{{ device.generated_id }}">{{device.parent_name}}    |    {{ device.name }}   ({{ device.generated_id }})</option>
                        {% endfor %}
                    </select>
                    <label for="command">Command:</label>
                    <textarea id="command" name="command"></textarea>
                    <button type="submit">Submit</button>
                </form>
                <pre id="commandResult" style="display: block;" class="result-container"></pre>
            </div>
            <div id="resultAsFileForm" class="form-container">
                <h2>Result as File Request</h2>
                <form onsubmit="submitForm(event, 'resultAsFileResult')" action="{% url 'submit_result_as_file_request' %}" method="POST">
                    {% csrf_token %}
                    <label for="resultAsFileDeviceId">DeviceID:</label>
                    <select id="resultAsFileDeviceId" name="resultAsFileDeviceId">
                        {% for device in device_list %}
                            <option value="{{ device.generated_id }}">{{device.parent_name}}    |    {{ device.name }}   ({{ device.generated_id }})</option>
                        {% endfor %}
                    </select>
                    <label for="resultAsFileCommand">Command:</label>
                    <textarea id="resultAsFileCommand" name="resultAsFileCommand"></textarea>
                    <button type="submit">Submit</button>
                </form>
                <div id="resultAsFileResult" class="result-container"></div>
            </div>
            <div id="fileForm" class="form-container">
                <h2>File Request</h2>
                <form onsubmit="submitForm(event, 'fileResult')" action="{% url 'submit_file_request' %}" method="POST">
                    {% csrf_token %}
                    <label for="fileDeviceId">DeviceID:</label>
                    <select id="fileDeviceId" name="fileDeviceId">
                        {% for device in device_list %}
                            <option value="{{ device.generated_id }}">{{device.parent_name}}    |    {{ device.name }}   ({{ device.generated_id }})</option>
                        {% endfor %}
                    </select>
                    <label for="filePath">File Path:</label>
                    <input type="text" id="filePath" name="filePath">
                    <button type="submit">Submit</button>
                </form>
                <div id="fileResult" class="result-container"></div>
            </div>
            <div id="fileTransferForm" class="form-container">
                <h2>File Transfer Request</h2>
                <form onsubmit="submitForm(event, 'fileTransferResult')" action="{% url 'submit_file_transfer' %}" method="POST">
                    {% csrf_token %}
                    <label for="fileTransferDeviceId">DeviceID:</label>
                    <select id="fileTransferDeviceId" name="fileTransferDeviceId">
                        {% for device in device_list %}
                            <option value="{{ device.generated_id }}">{{device.parent_name}}    |    {{ device.name }}   ({{ device.generated_id }})</option>
                        {% endfor %}
                    </select>
                    <label for="fileTransferS3Key">S3 File Key:</label>
                    <select id="fileTransferS3Key" name="fileTransferS3Key">
                        {% for file in s3_files %}
                            <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                    <label for="fileTransferDestination">Destination Path:</label>
                    <input type="text" id="fileTransferDestination" name="fileTransferDestination">
                    <button type="submit">Submit</button>
                </form>
                <pre id="fileTransferResult" class="result-container"></pre>
            </div>
        </div>
    </body>
</html>